//BACKGROUND_COLOR
$BLACK : #000000;
$BORDERCOLOR: #A9A9A9;
$PAGETITLE: #2C2C2C;







//FONT_SIZE
$FONTSIZE84:84px;
$FONTSIZE64:64px;
$FONTSIZE56:56px;
$FONTSIZE50:50px;
$FONTSIZE48:48px;
$FONTSIZE45:45px;
$FONTSIZE44:44px;
$FONTSIZE42:42px;
$FONTSIZE40:40px;
$FONTSIZE36:36px;
$FONTSIZE32:32px;
$FONTSIZE31:31px;
$FONTSIZE30:30px;
$FONTSIZE28:28px;
$FONTSIZE26:26px;
$FONTSIZE25:25px;
$FONTSIZE24:24px;
$FONTSIZE22:22px;
$FONTSIZE20:20px;
$FONTSIZE19:19px;
$FONTSIZE18:18px;
$FONTSIZE16:16px;
$FONTSIZE14:14px;
$FONTSIZE12:12px;
$FONTSIZE10:10px;  

//FONT_FAMILY
$RUBIK: 'Rubik';
// Robot Font Family

$ROBOTO: 'Roboto';



