@font-face {
    font-family: 'Rubik';
    src: url('./Assets/font/rubik/static/Rubik-ExtraBold.woff2') format('woff2'),
        url('./Assets/font/rubik/static/Rubik-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Assets/font/rubik/static/Rubik-Black.woff2') format('woff2'),
        url('./Assets/font/rubik/static/Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Assets/font/rubik/static/Rubik-Bold.woff2') format('woff2'),
        url('./Assets/font/rubik/static/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Assets/font/rubik/static/Rubik-Medium.woff2') format('woff2'),
        url('./Assets/font/rubik/static/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Assets/font/rubik/static/Rubik-Light.woff2') format('woff2'),
        url('./Assets/font/rubik/static/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Assets/font/rubik/static/Rubik-Regular.woff2') format('woff2'),
        url('./Assets/font/rubik/static/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Assets/font/rubik/static/Rubik-SemiBold.woff2') format('woff2'),
        url('./Assets/font/rubik/static/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



// /Robot

@font-face {
    font-family: 'Roboto';
    src: url('../src/Assets/font/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../src/Assets/font/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../src/Assets/font/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../src/Assets/font/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


